<div class="container">
  <h1>All posts</h1>
    <%if @posts %>
        <% @posts.each do |post| %>
    <header>
    <div class="content">
      <h2><%= post.title %></h2>
      <h4><%= post.author %></h4>
      <h6><%= post.categories.first.category %></h6>
      <section> 
        <%= post.content %>
      </section>
    </div>
        </header>
      <%end%>
    <%end%> 
    <!-- <div class="pagination">
      <a href="page1.html" class="disabled">&lt;&lt; Previous</a>
      <ol>
        <li><a href="page1.html" class="active">1</a></li>
        <li><a href="page2.html">2</a></li>
        <li><a href="page3.html">3</a></li>
        <li><a href="page4.html">4</a></li>
        <li><a href="page5.html">5</a></li>
      </ol>
      <a href="page2.html">Next &gt;&gt;</a>
    </div>
 
    <div class="footer">
      Copyright &copy; 2013 Awesome People, Inc.
    </div> -->
</div>