<div class="container">
  <h1>Anonymous blog</h1>

  <form action="/create_post" method="post">
    <p>Author name</p>
    <input type="text" name="author">
    <p>Post Title</p>
    <input type="textarea" name="title">
    <p>Post Content</p>
    <textarea name="content" cols="40" rows="10"></textarea>
    <br>
    <input type="submit" value="Create Post">
  </form>
</div>
<div class="container">
  <h2>Blog Options</h2>
  <form action="/show_all" method="get">
    <input type="submit" value="View All posts">
  </form>
  <form action="/find_individual" method="post">
    <input type="text" value="Enter blog title" name="post_title">
    <input type="submit" value="find post">
  </form>
  <form action="/display_all_by_category" method="post">
    <input type="text" value="Category to display">
    <input type="submit" value="show">
  </form>
  <form action="/edit_existing" method="post">
    <input type="text" value="Post title to edit" name="post_title">
     <input type="hidden" name="_method" value="put">
    <input type="submit" value="update">
  </form>
  <form action="/delete" method="post">
    <input type="text" value="Post title to delete">
    <input name="_method" type="submit" value="delete">
  </form>
</div>
